@model SPELS_TRACKING_SYSTEM.ViewModels.ReleasingVM
@inject IHttpContextAccessor httpContextAccessor

@{
    var admin = httpContextAccessor.HttpContext.Session.GetInt32("IsAdmin");
    if (admin == 1)
    {
        Layout = "_AdminLayout";
        ViewData["Title"] = "Releasing Stage";
    }
    else
    {
        Layout = "_Layout";
        ViewData["Title"] = "Releasing Stage";
    }
}

<div class="d-flex align-items-center mt-3 mb-3">
    <h4 class="me-auto">Releasing Stage</h4>
</div>

<table class="table table-striped" id="TableIndex">
    <thead>
        <tr>
            <th>
                Full name
            </th>
            <th>
                Special Eligibility
            </th>
            <th>
                Remarks
            </th>
            <th>
                Date approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Releasings)
        {
            <tr>
                <td>
                    @{
                        var hasValidMiddleName = !(item.Document.Middlename == "N/A" || item.Document.Middlename == "N.A" || item.Document.Middlename == "NA" || item.Document.Middlename == "n/a" || item.Document.Middlename == "na");
                        var hasValidSuffix = !(item.Document.Suffix == "N/A" || item.Document.Suffix == "N.A" || item.Document.Suffix == "NA" || item.Document.Suffix == "n/a" || item.Document.Suffix == "na");

                        var fullName = item.Document.Firstname;

                        if (hasValidMiddleName)
                        {
                            fullName += $" {item.Document.Middlename}";
                        }

                        fullName += $" {item.Document.Lastname}";

                        if (hasValidSuffix)
                        {
                            fullName += $" {item.Document.Suffix}";
                        }
                    }

                    @fullName

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document.SpecialEligibility.SpecialEligibilityName)
                </td>
                <td>
                    @if (item.Document.Remarks == "N/A")
                    {

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Document.Remarks)
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateApproved)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="NextStageForm(@item.ReleasingID)" @(ViewBag.CanForward != true ? "hidden" : "")>Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Approve Docs -->
<form asp-action="DocsApprove" method="post">
    <div class="modal fade" id="YesModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary" id="exampleModalToggleLabel">DOCUMENT DETAILS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <input asp-for="Releasing.ReleasingID" class="releasingID form-control" hidden />
                    <input asp-for="Releasing.DocumentID" class="documentID form-control" hidden />

                    <div class="mb-3 row">
                        <label asp-for="Releasing.DateApproved" class="col-sm-2 col-form-label fw-bold"></label>
                        <div class="col-sm-10">
                            <input type="datetime" asp-for="Releasing.DateApproved" class="form-control" id="DateApproved" style="background-color: #FFFFFF" readonly />
                        </div>
                    </div>

                    <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Type of Submission.</p>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label fw-bold">Type of Submission:</label>
                        <div class="col-sm-10">
                            <select asp-for="Releasing.Document.SubmissionType" class="form-control" id="SubmissionType" asp-items="ViewBag.SubmissionList" style="pointer-events: none;">
                                <option value="" selected>-- Select Submission Type --</option>
                            </select>
                        </div>
                    </div>

                    <div id="OtherFOsSection">
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label fw-bold">FO name :</label>
                            <div class="col-sm-10">
                                <select asp-for="Releasing.Document.OtherFOsID" class="form-control" id="OtherFOS" asp-items="ViewBag.OtherFOsID" style="pointer-events: none;"></select>
                            </div>
                        </div>
                    </div>

                    <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Personal Information.</p>

                    <div class="mb-3 row">
                        <label for="Lastname" class="col-sm-2 col-form-label fw-bold">Last name :</label>
                        <div class="col-sm-10">
                            <input asp-for="Releasing.Document.Lastname" class="form-control" id="Lastname" style="background-color: #FFFFFF" readonly />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="Firstname" class="col-sm-2 col-form-label fw-bold">First name :</label>
                        <div class="col-sm-10">
                            <input asp-for="Releasing.Document.Firstname" class="form-control" id="Firstname" style="background-color: #FFFFFF" readonly />
                        </div>
                    </div>

                    <div id="MiddlenameSection">
                        <div class="mb-3 row">
                            <label for="Middlename" class="col-sm-2 col-form-label fw-bold">Middle name :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.Middlename" class="form-control" id="Middlename" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div id="SuffixSection">
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label fw-bold">Suffix :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.Suffix" class="form-control" id="Suffix" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="Gender" class="col-sm-2 col-form-label fw-bold">Gender :</label>
                        <div class="col-sm-10">
                            <select asp-for="Releasing.Document.GenderType" class="form-control" id="Gender" asp-items="ViewBag.GenderList" style="pointer-events: none;"></select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="DateofBirth" class="col-sm-2 col-form-label fw-bold">Date of birth :</label>
                        <div class="col-sm-10">
                            <input type="date" asp-for="Releasing.Document.DateofBirth" class="form-control" id="DateofBirth" style="background-color: #FFFFFF" readonly />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="PlaceofBirth" class="col-sm-2 col-form-label fw-bold">Place of birth :</label>
                        <div class="col-sm-10">
                            <input asp-for="Releasing.Document.PlaceofBirth" class="form-control" id="PlaceofBirth" style="background-color: #FFFFFF" readonly />
                        </div>
                    </div>

                    <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Type of Special Eligibility.</p>

                    <div class="mb-3 row">
                        <label for="SpecialEligibility" class="col-sm-2 col-form-label fw-bold">Special eligibility :</label>
                        <div class="col-sm-10">
                            <select asp-for="Releasing.Document.SpecialEligibilityID" class="form-control" id="SpecialEligibilityType" asp-items="ViewBag.SpecialEligibilityID" style="pointer-events: none;"></select>
                        </div>
                    </div>

                    <div id="SchoolSection">
                        <div class="mb-3 row">
                            <label for="School" class="col-sm-2 col-form-label fw-bold">School name :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.School" class="form-control" id="School" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div id="AddressSection">
                        <div class="mb-3 row">
                            <label for="Address" class="col-sm-2 col-form-label fw-bold">Address :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.Address" class="form-control" id="Address" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div id="ProvinceSection">
                        <div class="mb-3 row">
                            <label for="Province" class="col-sm-2 col-form-label fw-bold">Province :</label>
                            <div class="col-sm-10">
                                <select asp-for="Releasing.Document.ProvinceID" class="form-control" id="Province" asp-items="ViewBag.ProvinceID" style="pointer-events: none;"></select>
                            </div>
                        </div>
                    </div>

                    <div id="PositionSection">
                        <div class="mb-3 row">
                            <label for="Position" class="col-sm-2 col-form-label fw-bold">Position :</label>
                            <div class="col-sm-10">
                                <select asp-for="Releasing.Document.PositionID" class="form-control" id="Position" asp-items="ViewBag.PositionID" style="pointer-events: none;"></select>
                            </div>
                        </div>
                    </div>

                    <div id="ToESection">
                        <div class="mb-3 row">
                            <label for="TOE" class="col-sm-2 col-form-label fw-bold">Type of eligibility :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.TypeofEligibility" class="form-control" id="TOE" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div id="OtherToESection">
                        <div class="mb-5 row">
                            <label for="OtherTOE" class="col-sm-2 col-form-label fw-bold">Other eligibility :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.OtherEligibility" class="form-control" id="OtherTOE" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <p class="text-start rounded bg-primary text-white bg-opacity-75 ps-2 p-1 mt-5">Remarks.</p>

                    <div id="RemarksSection">
                        <div class="mb-3 row">
                            <label for="Remarks" class="col-sm-2 col-form-label fw-bold">Remarks :</label>
                            <div class="col-sm-10">
                                <input asp-for="Releasing.Document.Remarks" class="form-control" id="Remarks" style="background-color: #FFFFFF" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="Releasing.Document.StatusType" class="control-label"></label>
                        <select class="form-select" id="Status" asp-items="ViewBag.StatusList"></select>
                    </div>


                </div>
                <div class="modal-footer d-flex align-items-center">
                    <h5 class="me-auto fw-bold text-danger">DC's action</h5>

                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function updateModalValues() {
            let submissionType = document.getElementById('SubmissionType');
            let suffix = document.getElementById('Suffix');
            let specialEligibility = document.getElementById('SpecialEligibilityType');
            let remarks = document.getElementById('Remarks');
            let middlename = document.getElementById('Middlename');

            let otherFOsSection = document.getElementById('OtherFOsSection');
            let suffixSection = document.getElementById('SuffixSection');
            let middlenameSection = document.getElementById('MiddlenameSection');
            let schoolSection = document.getElementById('SchoolSection');
            let addressSection = document.getElementById('AddressSection');
            let provinceSection = document.getElementById('ProvinceSection');
            let positionSection = document.getElementById('PositionSection');
            let toESection = document.getElementById('ToESection');
            let otherToESection = document.getElementById('OtherToESection');
            let remarksSection = document.getElementById('RemarksSection');

            if (submissionType.value === "2") {
                otherFOsSection.style.display = 'block';
            } else {
                otherFOsSection.style.display = 'none';
            }

            if (["n/a", "na", "N/A"].includes(middlename.value.trim().toLowerCase())) {
                middlenameSection.style.display = 'none';
            } else {
                middlenameSection.style.display = 'block';
            }

            if (!suffix.value || ["n/a", "n.a", "na", "N.A", "N/A"].includes(suffix.value.trim().toLowerCase())) {
                suffixSection.style.display = 'none';
            } else {
                suffixSection.style.display = 'block';
            }

            if (remarks.value.trim().toLowerCase() === "n/a") {
                remarksSection.style.display = 'none';
            } else {
                remarksSection.style.display = 'block';
            }

            switch (specialEligibility.value) {
                case "1":
                    schoolSection.style.display = 'block';
                    addressSection.style.display = 'none';
                    provinceSection.style.display = 'none';
                    positionSection.style.display = 'none';
                    toESection.style.display = 'none';
                    otherToESection.style.display = 'none';
                    break;
                case "2":
                    schoolSection.style.display = 'none';
                    addressSection.style.display = 'block';
                    provinceSection.style.display = 'block';
                    positionSection.style.display = 'block';
                    toESection.style.display = 'none';
                    otherToESection.style.display = 'none';
                    break;
                case "3":
                    schoolSection.style.display = 'none';
                    addressSection.style.display = 'none';
                    provinceSection.style.display = 'none';
                    positionSection.style.display = 'none';
                    toESection.style.display = 'block';
                    otherToESection.style.display = 'none';
                    break;
                case "4":
                    schoolSection.style.display = 'none';
                    addressSection.style.display = 'none';
                    provinceSection.style.display = 'none';
                    positionSection.style.display = 'none';
                    toESection.style.display = 'none';
                    otherToESection.style.display = 'block';
                    break;
            }
        }

        $(document).ready(function () {
            $(".btnNo").click(function () {
                $("#YesModal").modal("hide");
                $("#RejectRemarks").val("");
            });

            $(".btnBack").click(function () {
                $("#NoModal").modal("hide");
                $("#RejectRemarks").val("N/A");
            });

            let noModal = document.getElementById('NoModal');
            let rejectRemarks = document.getElementById('RejectRemarks');
            let form = document.querySelector(".form-rejection");

            noModal.addEventListener('hidden.bs.modal', function () {
                rejectRemarks.value = "";
                rejectRemarks.classList.remove("is-invalid");
                form.classList.remove("was-validated");
                let rejectRemarksValidationMsg = form.querySelector(".text-danger-remarks");
                if (rejectRemarksValidationMsg) {
                    rejectRemarksValidationMsg.textContent = "";
                }
            });

            let submissionType = document.getElementById('SubmissionType');
            if (submissionType) {
                submissionType.addEventListener('change', updateModalValues);
            }
        });

        var NextStageForm = function (id) {
            $.ajax({
                type: "GET",
                url: "/ReleasingStages/GetDocs",
                data: { getID: id },
                success: function (response) {
                    $(".releasingID").val(id);
                    $(".documentID").val(response.documentid);
                    $("#SubmissionType").val(response.submission);
                    $("#OtherFOS").val(response.otherfosid);
                    $("#Remarks").val(response.remarks);
                    $("#Lastname").val(response.lastname);
                    $("#Firstname").val(response.firstname);
                    $("#Middlename").val(response.middlename);
                    $("#Suffix").val(response.suffix);
                    $("#Gender").val(response.gender);
                    $("#DateofBirth").val(response.dateofbirth);
                    $("#PlaceofBirth").val(response.placeofbirth);
                    $("#SpecialEligibilityType").val(response.specialeligibilityid);
                    $("#School").val(response.school);
                    $("#Address").val(response.address);
                    $("#Province").val(response.provinceid);
                    $("#Position").val(response.positionid);
                    $("#TOE").val(response.toe);
                    $("#OtherTOE").val(response.othertoe);
                    $("#Status").val(response.statusid);
                    $("#DateApproved").val(response.dateapproved);

                    updateModalValues(); // Apply logic after fields are populated
                    const modal = new bootstrap.Modal(document.getElementById("YesModal"));
                    modal.show();
                }
            });
        }

        var ConfirmForm = function (id) {
            $("#DocsID").val(id);
            $("#DeleteModal").modal("show");
        };
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}