@model List<SPELS_TRACKING_SYSTEM.Models.DocumentHistory>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center mt-3 mb-3">
    <h4 class="me-auto">Document Histories</h4>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Action</th>
            <th>Performed By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Timestamp.ToString("MMMM dd, yyyy hh:mm tt")</td>
                <td>@log.Document.Firstname @log.Document.Middlename @log.Document.Lastname</td>
                <td>@log.ActionType</td>
                <td>@log.ActedBy</td>
            </tr>
        }
    </tbody>
</table>


