@inject IHttpContextAccessor httpContextAccessor

@{
    var userPermissions = httpContextAccessor.HttpContext.Session.GetString("UserPermissions")?.Split(',') ?? new string[0];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SPELS</title>
    <link rel="icon" type="image/png" href="~/img/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MY_CSC_PROJECT.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #FFFFFF;">

    <!-- Loader -->
    <div id="loader-wrapper" style="display: none;">
        <div id="loader"></div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top">
        <div class="container-fluid" style="display: inline-block;">
            <div class="row">
                <div class="col-6">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <div class="img-bg">
                            <img class="d-flex p-2" src="~/img/csc-logo.png" alt="logo" width="65" />
                        </div>
                        <h3 class="fw-bold text-danger  me-2">SPELS</h3> <h3 class="fw-bold text-white">Tracking System</h3>
                    </a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <h4 id="dateTime" class="fw-bold text-white"></h4>
                </div>
                <div class="col-10">
                    <!-- Navbar Toggle Button for Small Screens -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav gap-2">
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "Documents" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="Documents" asp-action="Index"
                                    data-stage="Documents">Receiving Stage</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "EvaluationStages" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="EvaluationStages" asp-action="Index"
                                    data-stage="EvaluationStages">Evaluation Stage</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "ProofingStages" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="ProofingStages" asp-action="Index"
                                    data-stage="ProofingStages">Proofing Stage</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "PostingStages" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="PostingStages" asp-action="Index"
                                    data-stage="PostingStages">Posting Stage</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "ApprovalStages" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="ApprovalStages" asp-action="Index"
                                    data-stage="ApprovalStages">Approval Stage</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "ODStages" ? "btn-light" : "btn-outline-light")"
                                   asp-area="" asp-controller="ODStages" asp-action="Index"
                                   data-stage="ODStages">OD Stages</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn @(ViewContext.RouteData.Values["controller"].ToString() == "ReleasingStages" ? "btn-light" : "btn-outline-light")"
                                    asp-area="" asp-controller="ReleasingStages" asp-action="Index"
                                    data-stage="ReleasingStages">Releasing Stage</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a class="text-danger text-decoration-none" asp-area="" asp-controller="Account" asp-action="Logout">
                        <button type="button" class="btn btn-danger">Logout</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid content-container">
        <main role="main" class="pb-3 shadow">
            @RenderBody()
        </main>
    </div>

    <!--Container Main end-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    @* <script>
        $(document).ready(function () {
            $(".navbar-nav .btn").on("click", function (e) {
                e.preventDefault();
                var url = $(this).attr("href");

                $("#loader-wrapper").show();

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                        var content = $(data).find("#content-container").html();
                        $("#content-container").html(content);
                        window.history.pushState({}, '', url); // Update URL without reloading
                    },
                    complete: function () {
                        $("#loader-wrapper").fadeOut();
                    },
                    error: function () {
                        alert("An error occurred while loading the page.");
                        $("#loader-wrapper").hide();
                    }
                });
            });
        });
    </script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            let enabledStages = @Html.Raw(Json.Serialize(userPermissions));

            document.querySelectorAll(".nav-item a").forEach(button => {
                if (!enabledStages.includes(button.dataset.stage)) {
                    button.style.display = "none";
                }
            });
        });
    </script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>