@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SPELS</title>
    <link rel="icon" type="image/png" href="~/img/latest-logo.png" />
    <link rel="stylesheet" href="~/SPELS_TRACKING_SYSTEM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
   
</head>
<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/img/latest-logo.png" alt="logo" width="65" />
                </span>

                <div class="text logo-text">
                    <span class="name">Administrator</span>
                </div>
            </div>
            <i class="fa-solid fa-bars toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index" id="homeBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Document Histories">
                            <i class="fa-solid fa-house icon"></i>
                            <span class="text nav-text">Document Histories</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "SpecialEligibilities" ? "active" : "")" asp-controller="SpecialEligibilities" asp-action="Index" id="SEBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Special Eligibilities">
                            <i class="fa-regular fa-square-check icon"></i>
                            <span class="text nav-text">Special Eligibilities</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "OtherFOs" ? "active" : "")" asp-controller="OtherFOs" asp-action="Index" id="OtherFOsBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Other FO's">
                            <i class="fa-regular fa-building icon"></i>
                            <span class="text nav-text">Other FO's</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Provinces" ? "active" : "")" asp-controller="Provinces" asp-action="Index" id="ProvinceBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Provinces">
                            <i class="fa-regular fa-map icon"></i>
                            <span class="text nav-text">Provinces</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Positions" ? "active" : "")" asp-controller="Positions" asp-action="Index" id="PositionBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Positions">
                            <i class="fa-regular fa-address-card icon"></i>
                            <span class="text nav-text">Positions</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Roles" ? "active" : "")" asp-controller="Roles" asp-action="Index" id="UserRoleBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Roles">
                            <i class="fa-regular fa-id-badge icon"></i>
                            <span class="text nav-text">Roles</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-area="" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Users" ? "active" : "")" asp-controller="Users" asp-action="Index" id="UserMngBtn" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="User Management">
                            <i class="fa-regular fa-user icon"></i>
                            <span class="text nav-text">User Management</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li class="nav-link">
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="logout">
                            <i class="fa-solid fa-arrow-right-from-bracket icon logout-icon"></i>
                            <span class="text logout-text nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home">
        <nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top">
            <div class="container" style="display: inline-block;">
                <div class="row ms-3">
                    <div class="col-6 mb-3">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center gap-2" style="text-decoration: none;">
                            @* <img src="~/img/latest-logo.png" alt="logo" width="65" /> *@
                            <div class="d-flex align-items-center justify-content-center">
                                <h3 class="fw-bold text-danger me-2 m-0" style="-webkit-text-stroke: .01px #ffffff70;">SPELS</h3>
                                <h3 class="fw-bold text-white m-0">Tracking System</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h4 id="dateTime" class="fw-bold text-white"></h4>
                    </div>
                    <div class="col-12 d-flex">
                        <span class="fw-normal align-content-center me-2 text-white">Stage:</span>
                        <div class="dropdown w-50">
                            @{
                                string currentController = ViewContext.RouteData.Values["controller"].ToString();
                                string currentStage = currentController switch
                                {
                                    "Documents" => "Receiving",
                                    "EvaluationStages" => "Evaluation",
                                    "ProofingStages" => "Proofing",
                                    "PostingStages" => "Posting",
                                    "ApprovalStages" => "Approval",
                                    "ODStages" => "OD",
                                    "ReleasingStages" => "Releasing",
                                    _ => "Please select an stage"
                                };
                            }
                            <a class="btn btn-light d-flex justify-content-between align-items-center w-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @currentStage
                                <i class="fa-solid fa-chevron-down icon ms-auto d-flex align-items-center"></i>
                            </a>
                            <ul class="dropdown-menu w-50">
                                <li><a class="dropdown-item @(currentController == "Documents" ? "active" : "")" asp-controller="Documents" asp-action="Index">Receiving</a></li>
                                <li><a class="dropdown-item @(currentController == "EvaluationStages" ? "active" : "")" asp-controller="EvaluationStages" asp-action="Index">Evaluation</a></li>
                                <li><a class="dropdown-item @(currentController == "ProofingStages" ? "active" : "")" asp-controller="ProofingStages" asp-action="Index">Proofing</a></li>
                                <li><a class="dropdown-item @(currentController == "PostingStages" ? "active" : "")" asp-controller="PostingStages" asp-action="Index">Posting</a></li>
                                <li><a class="dropdown-item @(currentController == "ApprovalStages" ? "active" : "")" asp-controller="ApprovalStages" asp-action="Index">Approval</a></li>
                                <li><a class="dropdown-item @(currentController == "ODStages" ? "active" : "")" asp-controller="ODStages" asp-action="Index">OD</a></li>
                                <li><a class="dropdown-item @(currentController == "ReleasingStages" ? "active" : "")" asp-controller="ReleasingStages" asp-action="Index">Releasing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container-fluid mt-3">
                © 2025 - SPELS TRACKING SYSTEM - POWERED BY ARJAHN V. MILAR - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
            </div>
        </footer>
    </section>
    <!--Container Main end-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome/js/all.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>